* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f9fc;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    grid-column: 2/3;
    margin-top: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    color: #1c85e8
}

.manage-projects {
    display: flex;
    width: 180px;
    height: 45px;
    padding: 14px;
    background-color: #fff;
    border-radius: 50px;
    align-self: center;
    cursor: pointer;
}

.manage-projects > img {
    width: 17.5px;
    height: 17.5px;
}

.manage-projects > a{
    text-decoration: none;
    font-size: 14px;
    color: #7f92a3;
    margin-left: 17px;
    font-weight: bold;
}

.projectTracker {
    grid-area: header1;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.projecttracker-title {
    display: flex;
    margin-right: 300px;
}

.projectTracker h1{
    font-size: 64px;
    margin-left: 25px;
    color: #0a2d4c;
    margin-top: 27px;
}

.mainSvg {
    width: 276px;
    height: 229px;
}

.tracker {
    padding: 30px;
    align-self: flex-start;
    border-radius: 5px;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
}

.tracker h2 {
    font-size: 36px;
    color: #0a2d4c;
}
.tracker h4 {
    font-size: 14px;
    color: #7f93ad;
}

.greenDot {
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #2bc8a7;
    border-radius: 50%;
    bottom: 43px;
    left: 49px;
}


.tracker1{
    position: relative;
}
.tracker2{
    
}
.tracker3{
    
}
.tracker4{
    
}